body h1{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(175, 4, 4);
}

body {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}